label {
    margin-top: 15px;
}

label input {
    margin-top: 10px;
}

body {
    font-family:Helvetica;
    background-color: #fdfdfd;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    color: #006492;
    margin-bottom: 15px;
    margin-top: 0px;
}

section {
    margin-bottom: 30px;
    margin-top: 0px;
}

#section1 {
    margin-bottom: 30px;
    margin-top: 0px;
    height: 80vh;
}

#section2 {
    margin-bottom: 30px;
    margin-top: 0px;
    height: 30vh;
}

#section3 {
    margin-bottom: 30px;
    margin-top: 0px;
    height: 20vh;
}

h2 {
    margin-bottom: 10px;
    color: #006492;
    text-decoration: underline;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    font-size: medium;
    text-transform: uppercase;
    text-align: center;
    background-color: #027db6;
    padding: 10px;
    color: #FFFFFF;
    border: 2px solid black;
}

button {
    padding: 16px 32px;
    background-color: #027db6;
    color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #25b92c;
}

#buttonAdd {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    width: 99%;
    border-collapse: bold;
    border: solid;
    color: black;
}